{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %} - Ubersicht</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <style>
            .progBar{
                height:24px;
                background-color:#ececec;
                position:relative;
                border-radius:10px;
                overflow: hidden;
            }
            .progBar .bar{
                position:absolute;
                height:100%;
                background-color:#FFD700;
                overflow: visible;
            }
            .completed{
                background-color: #CCC;
                color: #666;
            }
            .bar-label{
                position:relative;
                padding-left: 1em;
            }
        </style>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                {% comment %} ロゴマーク：Todo　リンクを入れる　フォントをかっこよくする {% endcomment %}
                <a class="navbar-brand px-5" href="#">Ubersicht</a>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                    <div class="text-muted justify-content-end">
                        ＜{{ user.username }} でログイン中＞
                    </div>
                    {% endif %}

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            メニュー
                        </a>
                        {% if user.is_authenticated %}
                        <!-- Here's the magic. Add the .animate and .slideIn classes to your .dropdown-menu and you're all set! -->
                        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'accounts:user_change' pk=user.pk %}">ユーザー設定</a>
                            <a class="dropdown-item" href="#">目標設定</a>
                            <a class="dropdown-item" href="#">実績</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">ログアウト</a>
                        </div>
                        {% else %}
                        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'accounts:signup' %}">ユーザー登録</a>
                            <a class="dropdown-item" href="{% url 'accounts:login' %}">ログイン</a>
                            <a class="dropdown-item" href="mailto:angrycoward@gmail.com">問い合わせ</a>
                        </div>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content-->
        {% block content %}{% endblock content %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Ubersicht 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
