{% extends "float-card.html" %}
{% load static %}
{% block title %}ダッシュボード{% endblock title %}

{% block contents %}

{% if note %}
{% comment %} アプリからの通知がある場合 {% endcomment %}
<div class="card">
    <div class="card-title">
        <img src="{% static "assets/icon/warning.png" %}" alt="警告" class="icon" style="background: #FD0;">
        <h2>{{ note.title }}</h2>
    </div>
    <div class="card-body">
        {{ note.content }}
    </div>
    {% if note.button %}
    <div class="card-footer">
        <div class="d-flex card-footer justify-content-between">
            <a class="btn" href="{{ note.link }}">{{ note.button }}</a>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

{% for todo in object_list %}
<div class="card">
    {% comment %} カードタイトル {% endcomment %}
    <div class="card-title">
        {% if todo.type == 'reading' %}
        <img src="{% static "assets/icon/book.png" %}" alt="読書" class="icon">
        {% elif todo.type == 'exam' %}
        <img src="{% static "assets/icon/measure.png" %}" alt="指標" class="icon">
        {% elif todo.type == 'training' %}
        <img src="{% static "assets/icon/muscle.png" %}" alt="トレーニング" class="icon">
        {% elif todo.type == 'task' %}
        <img src="{% static "assets/icon/check.png" %}" alt="タスク" class="icon">
        {% elif todo.type == 'memo' %}
        <img src="{% static "assets/icon/memo.png" %}" alt="メモ" class="icon">
        {% endif %}
        <h2>{{ todo.title }}</h2>
    </div>
    
    {% comment %} 進捗バー {% endcomment %}
    {% if todo.is_completed %}
    {% comment %} 完了済みのタスク {% endcomment %}
    <div class="progBar">
        <div class="bar-completed">
            <div class="bar-label">完了済み</div>
        </div>
    </div>
    {% elif todo.percent is not None %}
    {% comment %} 進行中のタスク {% endcomment %}
    <div class="progBar">
        <div class="bar" style="width:{{todo.percent}}%">
            <div class="bar-label">{{ todo.percent|floatformat:1 }}%</div>
        </div>
    </div>
    {% endif %}

    {% comment %} カード内容 {% endcomment %}
    <div class="card-body">
        {{ todo.memo | truncatechars:25 }} <br>
        {{ todo.record_memo | truncatechars:25 }}
    </div>

    {% comment %} カードフッター {% endcomment %}
    <div class="d-flex card-footer justify-content-between">
        <a class="btn" href="{% url 'todo:todo_detail' pk=todo.pk %}">詳細</a>
        {% if todo.is_pinned and not todo.is_completed %}
        <a href="{% url 'todo:pin' pk=todo.pk %}" alt="ピン留め" class="heart" style="color: red;">
            &#9829;
        </a>
        {% elif not todo.is_completed %}
        <a href="{% url 'todo:pin' pk=todo.pk %}" alt="ピン留め" class="heart" style="color: black;">
            &#9825;
        </a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% comment %} カード追加ボタン {% endcomment %}
<a href="{% url "todo:todo_create" %}" id="add-card-button">
    <img src="{% static "assets/icon/plus.png" %}" alt="カード追加">
</a>
{% endblock  %}