{% extends 'float-card.html' %}
{% block title %}目標設定{% endblock title %}
{% block contents %}
<style>
    #checkbox_1 ~ .display_if_checked{
        display:none;
    }
    #checkbox_1:checked ~ .display_if_checked{
        display:inline;
    }
</style>
<div class="card-wide">
    <div class="card-body">
        <div class="col py-4">
            <h1>あなたの目標：</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% comment %} {{ form.until_date }} {% endcomment %}
                <input type="date" name="until_date" id="id_until_date" value={{form.until_date.value|date:"Y-m-d"}}> までに、{{ form.subject }} <br><br>
                <input type="checkbox" name="checkbox_1" id="checkbox_1" {% if form.remind_at.value %}checked="checked"{% endif %}>
                <label for="checkbox_1">リマインドメールを受け取る</label><br>
                <div class="display_if_checked">
                    <input type="time" name="remind_at" id="id_remind_at" value={{ form.remind_at.value }}>
                </div> <br><br>
                コメント：<br>
                {{ form.memo }} <br>
                <button type="submit" class="btn btn-primary">保存</button>
                <a href="{% url 'todo:main' %}" class="btn btn-secondary">戻る</a>
                {% if update %}
                <a href="{% url 'todo:goal_achieved' %}" class="btn btn-secondary">目標達成</a>
                <a href="{% url 'todo:goal_delete' %}" class="btn btn-secondary">目標の削除</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>
    // チェックボックス要素を取得
    var checkbox = document.getElementById("checkbox_1");
    // input type="time"要素を取得
    var timeInput = document.getElementById("id_remind_at");

    // チェックボックスの状態が変更されたときのイベントリスナーを追加
    checkbox.addEventListener("change", function() {
        // チェックボックスがチェックされていない場合、input要素の値を空にする
        if (!checkbox.checked) {
            timeInput.value = "";
        } else {
            timeInput.value = "23:55"
        }
    });
</script>
{% endblock contents %}