{% extends 'base.html' %}
{% load static %}
{% block title %}メインページ{% endblock title %}
{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    {% comment %} 目標が設定されている場合 {% endcomment %}
    {% if goal %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"><iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=1&src=M2VhZTZhZTIwOTU4ZDZhNGQ1YmQwMjU3Yzk3YmQ1NzBjZDA0YzVjNGJlNjNlZWJjOTU3YzgyMzMwMzE0OGVmZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%23009688" style="border-width:0" height="300" frameborder="0" scrolling="no"></iframe></div>
        <div class="col-lg-7">
            <h1 class="font-weight-light">{{ goal.until_date| date:'m月d日' }}までに{{ goal.subject }}</h1>
            <p>{{ goal.memo }}</p>
            <a class="btn btn-primary" href="{% url 'todo:goal_config' %}">目標設定</a>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-2 py-0 text-center">
                <div class="card-body"><h3 class="text-white m-0">期限まであと{{ goal.days_left}}日！！</h3></div>
            </div>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% for todo in object_list %}
        <div class="col-md-4 mb-5">
            <div class="card h-100 {% if todo.is_completed %}completed{% endif %}">
                <div class="card-body">
                    <h2 class="card-title">{{ todo.title }}</h2>
                    {% if todo.is_completed %}
                    {% comment %} 完了済みのタスク {% endcomment %}
                    <div class="progBar" style="width:100%; margin-bottom: 1em;">
                        <p class="bar card-text" style="width:100%; background-color: #33FF33;">
                            <div style="position:relative;padding-left: 1em;">完了済み</div>
                        </p>
                    </div>
                    {% elif todo.percent is not None %}
                    <div class="progBar" style="width:100%; margin-bottom: 1em;">
                        <p class="bar card-text" style="width:{{todo.percent}}%">
                            <div style="position:relative;padding-left: 1em;">{{ todo.percent|floatformat:1 }}%</div>
                        </p>
                    </div>
                    {% endif %}
                    {% if todo.memo %}
                    <p class="card-text">{{ todo.memo }}</p>
                    {% endif %}
                    {% if todo.image %}
                    <img src="{{ todo.image.url }}" alt="" style="max-width: 100%;">
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="{% url 'todo:todo_detail' pk=todo.pk %}">詳細</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="background-color: #aaccff;">
                <div class="card-body">
                    <h2 class="card-title">新規タスク</h2>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'todo:todo_create' %}">作成</a></div>
            </div>
        </div>
    </div>
    {% comment %} 目標が設定されていない場合 {% endcomment %}
    {% else %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"><iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=1&src=M2VhZTZhZTIwOTU4ZDZhNGQ1YmQwMjU3Yzk3YmQ1NzBjZDA0YzVjNGJlNjNlZWJjOTU3YzgyMzMwMzE0OGVmZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%23009688" style="border-width:0" height="300" frameborder="0" scrolling="no"></iframe></div>
        <div class="col-lg-7">
            <h1 class="font-weight-light">目標が設定されていません。</h1>
            <p>下のボタンを押して新しい目標を設定してください。</p>
            <a class="btn btn-primary" href="{% url 'todo:goal_config' %}">目標設定</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}