{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
{% endblock style %}
{% block contents %}
<div id="timer-wrapper">
    <div id="timer">00:00</div>
    <button id="start">Start</button>
    <button id="pause">Pause</button>
</div>
<div style="margin: 30px auto; width:200px;">
    <a href="{% url 'todo:main' %}" class="btn btn-secondary">メインページへ</a>
</div>

<audio id="alarm" src="{% static 'sound/Clock-Alarm03-01(Mid-Loop).mp3' %}" preload="auto"></audio>
<script src="{% static 'js/timer.js' %}"></script>
{% endblock contents %}