{% extends 'base.html' %}
{% load static %}
{% block title %}タスク詳細{% endblock title %}
{% block content %}
<div class="container px-4">
    <div class="row gx-4 gx-lg-4 my-4">
        <div class="col py-2">
            <h1>
                {{ todo.title }}：
                {% if todo.amount is not None %}
                {{ todo.current }} / {{ todo.amount }}{{ todo.unit }}
                {% endif %}
            </h1>
            {% if todo.is_completed %}
            <div class="progBar" style="width:50%;">
                <p class="bar card-text" style="width:100%; background-color: #33FF33;">
                    <div class="bar-label">完了済み</div>
                </p>
            </div>
            {% elif todo.percent is not None %}
            <div class="progBar" style="width:50%;">
                <p class="bar card-text" style="width:{{todo.percent}}%">
                    <div class="bar-label">{{ todo.percent|floatformat:1 }}%</div>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not todo.is_completed %}
    <div class="row">
        <h3>今日の進捗は？：</h3>
        <form action="{% url 'todo:record_add' %}" method="get">
            {% csrf_token %}
            <input type="hidden" name="todo" id="id_todo" value="{{todo.pk}}">
            <input type="number" name="num" id="id_num" autofocus>  {{ todo.activity }} 
            <button type="submit" class="btn btn-primary btn-sm">保存</button>
        </form>
    </div>
    {% endif %}
    <div class="row gx-4 gx-lg-5">
        {% if todo.image %}
        <div class="col-md-4">
            <div class="card h-100 my-4">
                <div class="card-body">
                    <h3 class="card-title">画像：</h3>
                    <img src="{{todo.image.url}}" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>
        {% endif %}
        {% if todo.memo %}
        <div class="col-md-4">
            <div class="card h-100 my-4">
                <div class="card-body">
                    <h3 class="card-title">コメント：</h3>
                    {{todo.memo}}
                </div>
            </div>
        </div>
        {% endif %}
        {% comment %} グラフの表示 {% endcomment %}
        {% if not chart_no_data %}
        <div class="col-md-4">
            <div class="card h-100 my-4">
                <div class="card-body">
                    <h3 class="card-title">グラフ</h3>
                    <img style="max-width: 100%;" src="data:image/png;base64,{{ chart | safe }}">
                </div>
            </div>
        </div>
        {% endif %}
    </div><br>
    {% if not todo.is_completed %}
    <form action="timer/" method="post" class="my-4">
        {% csrf_token %}
        <input type="number" name="timer" value={{todo.timer}} id="id_timer">
        分タイマー
        <button type="submit" class="btn btn-secondary btn-sm">スタート</button>
    </form>
    {% endif %}
    <div class="row py-4">
        <div class="col">
            <a href="{% url 'todo:record_list' pk=todo.pk %}" class="btn btn-secondary">記録一覧</a>
            {% if not todo.is_completed %}
            <a href="{% url 'todo:todo_complete' pk=todo.pk %}" class="btn btn-secondary">完了とする</a>
            <a href="{% url 'todo:todo_config' pk=todo.pk %}" class="btn btn-secondary">編集</a>
            <a href="{% url 'todo:todo_delete' pk=todo.pk %}" class="btn btn-secondary">削除</a>
            {% endif %}
            <a href="{% url 'todo:main' %}" class="btn btn-secondary">戻る</a>
        </div>
    </div>
</div>
{% endblock content %}