{% extends 'base.html' %}
{% block title %}タスク設定{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col py-4">
            <h1 class="py-4">{{ goal.subject }}ために・・・</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table border=0>
                    <tr>
                        <th class="h3">期日：</th>
                        <td><input type="text" name="until_date" value="{{ form.until_date.value|date:"Y-m-d" }}" id="id_until_date" autofocus> までに、</td>
                    </tr>
                    <tr>
                        <th class="h3">目標値：</th>
                        <td>{{ form.amount }} {{ form.type }}</td>
                    </tr>
                    <tr>
                        <th class="h3">やる事：</th>
                        <td>{{ form.title }}</td>
                    </tr>
                    <tr>
                        <th class="h3">画像：</th>
                        <td>{{ form.image }}</td>
                    </tr>
                    <tr>
                        <th class="h3" style="vertical-align: top;">コメント：</th>
                        <td>{{ form.memo }}</td>
                        {% comment %} <td><input type="text" name="memo" value="{{ form.memo.value }}" id="id_memo" height=200></td> {% endcomment %}
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">保存</button>
                <a href="{% url 'todo:main' %}" class="btn btn-secondary">戻る</a>
                {% if update %}
                <a href="#" class="btn btn-secondary">タスク完了</a>
                <a href="#" class="btn btn-secondary">タスクの削除</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}