{% extends 'float-card.html' %}
{% load static %}
{% block title %}タスク設定{% endblock title %}
{% block contents %}
<div class="card-wide">
    <div class="card-body">
        <div class="col py-4">
            <h1 class="py-4">{{ goal.subject }}ために・・・</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table border=0>
                    <tr>
                        <th>種別：</th>
                        <td>
                            {% comment %} ボタン類 {% endcomment %}
                            <div class="icon_container" style="width:300px; margin-bottom:30px;">
                                <a href="" class="iconlink">
                                    <img src="{% static "assets/icon/check.png" %}" title="タスク" alt="タスク" class="icon">
                                </a>
                                <a href="" class="iconlink">
                                    <img src="{% static "assets/icon/muscle.png" %}" title="トレーニング" alt="トレーニング" class="icon">
                                </a>
                                <a href="" class="iconlink">
                                    <img src="{% static "assets/icon/book.png" %}" title="読書" alt="読書" class="icon">
                                </a>
                                <a href="" class="iconlink">
                                    <img src="{% static "assets/icon/measure.png" %}" title="指標" alt="指標" class="icon">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>期日：</th>
                        <td><input type="date" name="until_date" value="{{ form.until_date.value|date:'Y-m-d' }}" id="id_until_date" autofocus> までに、</td>
                    </tr>
                    <tr>
                        <th>目標値：</th>
                        <td>{{ form.amount }} {{ form.type }}</td>
                    </tr>
                    <tr>
                        <th>やる事：</th>
                        <td>{{ form.title }}</td>
                    </tr>
                    {% comment %} <tr>
                        <th>画像：</th>
                        <td>{{ form.image }}</td>
                    </tr> {% endcomment %}
                    <tr>
                        <th>タイマー：<br>（規定値）</th>
                        <td>{{ form.timer }}　分</td>
                    </tr>
                    <tr>
                        <th style="vertical-align: top;">コメント：</th>
                        <td>{{ form.memo }}</td>
                        {% comment %} <td><input type="text" name="memo" value="{{ form.memo.value }}" id="id_memo" height=200></td> {% endcomment %}
                    </tr>
                </table>
                <button type="submit" class="btn">保存</button>
                <a href="{% url 'todo:main' %}" class="btn btn-secondary">戻る</a>
                {% if update %}
                <a href="{% url 'todo:todo_complete' pk=form.instance.pk %}" class="btn" id="completeButton">タスク完了</a>
                <a href="{% url 'todo:todo_delete' pk=form.instance.pk %}" class="btn" id="deleteButton">タスクの削除</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock contents %}