body {
    font-family: Arial, sans-serif;
}

.countdown {
    text-align: center;
}

#timer {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    width: 280px;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    border: none;
}
#timer:disabled{
    color:#000;
}

#timer-wrapper {
    border: 5px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    width: 300px;
    margin: 20px auto;
}

#timerField .overlay-content{
    width:400px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
}
